@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Raleway:wght@700&display=swap');



body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;

}

.center{
    padding-left: 1rem;
    padding-right: 1rem;
}


.link{
    padding: 1rem 1rem;
    text-decoration: none
}

.link{
    color: red;
}