@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Raleway:wght@700&display=swap');

/* :root{
    --primary-color:rgb(243, 152, 16); 
} */
:root{
    --main-color: red;
    --darkgray-color:#6b7280;

    ; 
}

.navigation ul{
    padding: 2rem;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin:0px

}


.para{
    background-color : var(--main-color);
    color:rgb(21, 224, 65);
    border-style:ridge;

}

.center{
    padding-left: 5rem;
    padding-right: 6rem;
}




.primary-link{
    background-color:blueviolet; 
    border-radius: 0.5rem;
    padding: 1rem;
    margin: auto;
    color:white;
    align-items: center;
    text-decoration: none;
}

.secondary-link{
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin:auto
}

hr{
    margin: 2rem,0rem;
}

.list-non-bullet{
    list-style: none;
    text-align: center;
}

.list-items-inline{
    display: inline;
    padding: 0rem 2rem;
    padding-right: 5rem;

}

.navigation{
    background-color: blueviolet;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.secondary-link-white{
    color: white;
    text-decoration: none;

}

.link-active{
    font-weight: 3rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.brand-name{
    color: white;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.hero{
    padding: 1rem;
}

.hero .hero-img{
    max-width: 700px;
    display: block;
    margin: auto;
    padding: 2rem;
    text-align: center;
    
}

.hero .hero-text{
    color: var(--darkgray-color);
    padding: 1rem;
    text-align: center;
    
}

.hero .hero-text .header-highlight{
    color:blueviolet;
}

.section h3 {
    text-align: center;
    
}

.section-content{
    padding: 1rem;
}

.section{
    padding: 2rem;
}

.ow{
    background-color:lightgray;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem ;
    
}

.container-sample{
    margin: auto;
    max-width: 700px;
    padding: 2rem;
    text-align: center;
}

.footer{
    background-color: blueviolet;
    padding: 2rem;
    
    border-radius: 0.5rem;
    
}

.footer-header{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: white;
    /* padding-inline-start: 0px; */
}